# Extracting data from json files

In [1]:
#Required libraries for the program
import pandas as pd
import json
import os

## AGG

### Aggrate transation

In [28]:
Agg_tran_path="pulse/data/aggregated/transaction/country/india/state"
Agg_state_tran_list=os.listdir(Agg_tran_path)
# Agg_state_tran_list

atd = {'State': [], 'Year': [], 'Quarter': [], 'Transaction_type': [], 'Transaction_count': [], 'Transaction_amount': []}

for i in Agg_state_tran_list:
    p_i = os.path.join(Agg_tran_path, i, "")
    try:
        Agg_yr = os.listdir(p_i)
    except FileNotFoundError:
        print(f"Directory not found: {p_i}")
        continue

    for j in Agg_yr:
        p_j = os.path.join(p_i, j, "")
        try:
            Agg_yr_list = os.listdir(p_j)
        except FileNotFoundError:
            print(f"Directory not found: {p_j}")
            continue

        for k in Agg_yr_list:
            p_k = os.path.join(p_j, k)
            # Check if the file is a JSON file
            if p_k.endswith('.json'):
                try:
                    with open(p_k, 'r') as Data:
                        D = json.load(Data)
                        for z in D['data']['transactionData']:
                            Name = z['name']
                            count = z['paymentInstruments'][0]['count']
                            amount = z['paymentInstruments'][0]['amount']
                            atd['Transaction_type'].append(Name)
                            atd['Transaction_count'].append(count)
                            atd['Transaction_amount'].append(amount)
                            atd['State'].append(i)
                            atd['Year'].append(j)
                            atd['Quarter'].append(int(k.strip('.json')))
                except FileNotFoundError:
                    print(f"File not found: {p_k}")
                    continue

Agg_Trans_df = pd.DataFrame(atd)


# Specify the directory path where you want to save the CSV file
output_dir = "extracted_data"

# Create the directory if it doesn't exist
if not os.path.exists(output_dir):
    os.makedirs(output_dir)

# File path for saving the CSV file inside the "data" folder
output_file_path = os.path.join(output_dir, "agg_transaction.csv")

# Save the DataFrame to the specified file path
Agg_Trans_df.to_csv(output_file_path, index=False)

# Display the DataFrame
Agg_Trans_df

,State,Year,Quarter,Transaction_type,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2018,1,Recharge & bill payments,4200,1.845307e+06
1,andaman-&-nicobar-islands,2018,1,Peer-to-peer payments,1871,1.213866e+07
2,andaman-&-nicobar-islands,2018,1,Merchant payments,298,4.525072e+05
3,andaman-&-nicobar-islands,2018,1,Financial Services,33,1.060142e+04
4,andaman-&-nicobar-islands,2018,1,Others,256,1.846899e+05
...,...,...,...,...,...,...
3949,west-bengal,2023,2,Merchant payments,245111000,1.767046e+11
3950,west-bengal,2023,2,Peer-to-peer payments,240347041,7.970548e+11
3951,west-bengal,2023,2,Recharge & bill payments,58950434,3.478924e+10
3952,west-bengal,2023,2,Financial Services,327537,3.174670e+08
3953,west-bengal,2023,2,Others,581674,4.489893e+08

### Aggrate user

In [27]:
#This is to direct the path to get the data as states
Agg_user_path = "pulse/data/aggregated/user/country/india/state"
Agg_state_user_list = os.listdir(Agg_user_path)
# Agg_state_user_list


Agg_user = {'State': [], 'Year': [], 'Quater': [], 'brands': [], 'Count': [], 'Percentage': []}

for i in Agg_state_user_list:
    p_i = os.path.join(Agg_user_path, i)  # Use os.path.join to construct paths
    Agg_yr = os.listdir(p_i)
    
    for j in Agg_yr:
        p_j = os.path.join(p_i, j)  # Use os.path.join to construct paths
        Agg_yr_list = os.listdir(p_j)
        
        for k in Agg_yr_list:
            p_k = os.path.join(p_j, k)  # Use os.path.join to construct paths
            
            try:
                with open(p_k, 'r') as Data:
                    B = json.load(Data)
                    
                    for w in B["data"]["usersByDevice"]:
                        brand_name = w["brand"]
                        count_ = w["count"]
                        ALL_percentage = w["percentage"]
                        
                        Agg_user["brands"].append(brand_name)
                        Agg_user["Count"].append(count_)
                        Agg_user["Percentage"].append(ALL_percentage)
                        Agg_user["State"].append(i)
                        Agg_user["Year"].append(j)
                        Agg_user["Quater"].append(int(k.strip('.json')))
            except:
                continue

# Create a DataFrame
Agg_user_df = pd.DataFrame(Agg_user)

# Specify the directory path where you want to save the CSV file
output_dir = "extracted_data"

# File path for saving the CSV file inside the "data" folder
output_file_path = os.path.join(output_dir, "agg_user.csv")

# Save the DataFrame to the specified file path
Agg_user_df.to_csv(output_file_path, index=False)

# Display the DataFrame
Agg_user_df

                          State  Year  Quater   brands    Count  Percentage
0     andaman-&-nicobar-islands  2018       1   Xiaomi     1665    0.247033
1     andaman-&-nicobar-islands  2018       1  Samsung     1445    0.214392
2     andaman-&-nicobar-islands  2018       1     Vivo      982    0.145697
3     andaman-&-nicobar-islands  2018       1     Oppo      501    0.074332
4     andaman-&-nicobar-islands  2018       1  OnePlus      332    0.049258
...                         ...   ...     ...      ...      ...         ...
6727                west-bengal  2022       1   Lenovo   330017    0.015056
6728                west-bengal  2022       1  Infinix   284678    0.012987
6729                west-bengal  2022       1     Asus   280347    0.012790
6730                west-bengal  2022       1    Apple   277752    0.012671
6731                west-bengal  2022       1   Others  2196334    0.100199

[6732 rows x 6 columns]

## MAP

### MAP TRANSACTION

In [26]:
map_tran_path="pulse/data/map/transaction/hover/country/india/state"
map_state_tran_list = os.listdir(map_tran_path)
# map_state_tran_list


Map_trans = {'State': [], 'Year': [], 'Quater': [], 'District': [], 'count': [], 'amount': []}

for i in map_state_tran_list:
    p_i = os.path.join(map_tran_path, i)  # Use os.path.join to construct paths
    Agg_yr = os.listdir(p_i)

    for j in Agg_yr:
        p_j = os.path.join(p_i, j)  # Use os.path.join to construct paths
        Agg_yr_list = os.listdir(p_j)

        for k in Agg_yr_list:
            p_k = os.path.join(p_j, k)  # Use os.path.join to construct paths

            try:
                with open(p_k, 'r') as Data:
                    C = json.load(Data)

                    for x in C["data"]["hoverDataList"]:
                        District = x["name"]
                        count = x["metric"][0]["count"]
                        amount = x["metric"][0]["amount"]

                        Map_trans["District"].append(District)
                        Map_trans["count"].append(count)
                        Map_trans["amount"].append(amount)
                        Map_trans['State'].append(i)
                        Map_trans['Year'].append(j)
                        Map_trans['Quater'].append(int(k.strip('.json')))
            except:
                continue

# Create a DataFrame
map_trans_df = pd.DataFrame(Map_trans)


# Specify the directory path where you want to save the CSV file
output_dir = "extracted_data"

# File path for saving the CSV file inside the "data" folder
output_file_path = os.path.join(output_dir, "map_transaction.csv")

# Save the DataFrame to the specified file path
map_trans_df.to_csv(output_file_path, index=False)

# Display the DataFrame
map_trans_df

,State,Year,Quater,District,count,amount
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district,442,9.316631e+05
1,andaman-&-nicobar-islands,2018,1,south andaman district,5688,1.256025e+07
2,andaman-&-nicobar-islands,2018,1,nicobars district,528,1.139849e+06
3,andaman-&-nicobar-islands,2018,2,north and middle andaman district,825,1.317863e+06
4,andaman-&-nicobar-islands,2018,2,south andaman district,9395,2.394824e+07
...,...,...,...,...,...,...
16095,west-bengal,2023,2,nadia district,26194658,5.410386e+10
16096,west-bengal,2023,2,birbhum district,14912523,2.941312e+10
16097,west-bengal,2023,2,purba medinipur district,30724502,6.595899e+10
16098,west-bengal,2023,2,maldah district,24677357,5.218621e+10
16099,west-bengal,2023,2,darjiling district,13049366,2.372866e+10

### MAP USER

In [24]:
map_user_path = "pulse/data/map/user/hover/country/india/state"
map_state_user_list = os.listdir(map_user_path)
# map_state_user_list

map_user = {"State": [], "Year": [], "Quater": [], "District": [], "RegisteredUser": []}

for i in map_state_user_list :
    p_i = os.path.join(map_user_path, i)  # Use os.path.join to construct paths
    Agg_yr = os.listdir(p_i)

    for j in Agg_yr:
        p_j = os.path.join(p_i, j)  # Use os.path.join to construct paths
        Agg_yr_list = os.listdir(p_j)

        for k in Agg_yr_list:
            p_k = os.path.join(p_j, k)  # Use os.path.join to construct paths

            try:
                with open(p_k, 'r') as Data:
                    D = json.load(Data)

                    for u in D["data"]["hoverData"].items():
                        district = u[0]
                        registereduser = u[1]["registeredUsers"]

                        map_user["District"].append(district)
                        map_user["RegisteredUser"].append(registereduser)
                        map_user['State'].append(i)
                        map_user['Year'].append(j)
                        map_user['Quater'].append(int(k.strip('.json')))
            except:
                continue

# Create a DataFrame
map_user_df = pd.DataFrame(map_user)

# Specify the directory path where you want to save the CSV file
output_dir = "extracted_data"

# File path for saving the CSV file inside the "data" folder
output_file_path = os.path.join(output_dir, "map_user.csv")

# Save the DataFrame to the specified file path
map_user_df.to_csv(output_file_path, index=False)

# Display the DataFrame
map_user_df

,State,Year,Quater,District,RegisteredUser
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district,632
1,andaman-&-nicobar-islands,2018,1,south andaman district,5846
2,andaman-&-nicobar-islands,2018,1,nicobars district,262
3,andaman-&-nicobar-islands,2018,2,north and middle andaman district,911
4,andaman-&-nicobar-islands,2018,2,south andaman district,8143
...,...,...,...,...,...
16099,west-bengal,2023,2,nadia district,1482400
16100,west-bengal,2023,2,birbhum district,934943
16101,west-bengal,2023,2,purba medinipur district,1468608
16102,west-bengal,2023,2,maldah district,1046132
16103,west-bengal,2023,2,darjiling district,613398

## TOP

### TOP TRANSCTION

In [21]:
top_tran_path = "pulse/data/top/transaction/country/india/state"
top_state_tran_list=os.listdir(top_tran_path)
# top_state_tran_list


top_trans = {'State': [], 'Year': [], 'Quater': [], 'District': [], 'Trans_count': [],
             'Trans_amount': []}

for i in top_state_tran_list:
    p_i = os.path.join(top_tran_path , i)  # Use os.path.join to construct paths
    if not os.path.exists(p_i):
        print(f"Directory not found: {p_i}")
        continue

    Agg_yr = os.listdir(p_i)

    for j in Agg_yr:
        p_j = os.path.join(p_i, j)  # Use os.path.join to construct paths
        if not os.path.exists(p_j):
            print(f"Directory not found: {p_j}")
            continue

        Agg_yr_list = os.listdir(p_j)

        for k in Agg_yr_list:
            p_k = os.path.join(p_j, k)  # Use os.path.join to construct paths
            if not os.path.exists(p_k):
                print(f"File not found: {p_k}")
                continue

            with open(p_k, 'r') as Data:
                E = json.load(Data)

                for z in E['data']['pincodes']:
                    Name = z['entityName']
                    count = z['metric']['count']
                    amount = z['metric']['amount']
                    top_trans['District'].append(Name)
                    top_trans['Trans_count'].append(count)
                    top_trans['Trans_amount'].append(amount)
                    top_trans['State'].append(i)
                    top_trans['Year'].append(j)
                    top_trans['Quater'].append(int(k.strip('.json')))

# Create a DataFrame
top_trans_df = pd.DataFrame(top_trans)

# Specify the directory path where you want to save the CSV file
output_dir = "extracted_data"

# File path for saving the CSV file inside the "data" folder
output_file_path = os.path.join(output_dir, "top_transaction.csv")

# Save the DataFrame to the specified file path
top_trans_df.to_csv(output_file_path, index=False)

# Display the DataFrame
top_trans_df

,State,Year,Quater,District,Trans_count,Trans_amount
0,andaman-&-nicobar-islands,2018,1,744101,1622,2.769298e+06
1,andaman-&-nicobar-islands,2018,1,744103,1223,2.238042e+06
2,andaman-&-nicobar-islands,2018,1,744102,969,3.519060e+06
3,andaman-&-nicobar-islands,2018,1,744105,685,1.298561e+06
4,andaman-&-nicobar-islands,2018,1,744104,340,1.039715e+06
...,...,...,...,...,...,...
7848,west-bengal,2023,2,700001,2918444,6.259877e+09
7849,west-bengal,2023,2,721301,2910870,4.458107e+09
7850,west-bengal,2023,2,700039,2886562,4.662887e+09
7851,west-bengal,2023,2,700015,2774383,4.372975e+09
7852,west-bengal,2023,2,700014,2757479,5.108638e+09

### TOP USER

In [19]:
top_user_path = "pulse/data/top/user/country/india/state"
top_state_user_list=os.listdir(top_user_path)
# top_state_user_list

top_user = {'State': [], 'Year': [], 'Quarter': [], 'District': [],
            'RegisteredUser': []}

for i in top_state_user_list:
    p_i = os.path.join(top_user_path, i)  # Use os.path.join to construct paths
    if not os.path.exists(p_i):
        print(f"Directory not found: {p_i}")
        continue

    Agg_yr = os.listdir(p_i)

    for j in Agg_yr:
        p_j = os.path.join(p_i, j)  # Use os.path.join to construct paths
        if not os.path.exists(p_j):
            print(f"Directory not found: {p_j}")
            continue

        Agg_yr_list = os.listdir(p_j)

        for k in Agg_yr_list:
            p_k = os.path.join(p_j, k)  # Use os.path.join to construct paths
            if not os.path.exists(p_k):
                print(f"File not found: {p_k}")
                continue

            with open(p_k, 'r') as Data:
                F = json.load(Data)

                for t in F['data']['pincodes']:
                    Name = t['name']
                    registeredUser = t['registeredUsers']
                    top_user['District'].append(Name)
                    top_user['RegisteredUser'].append(registeredUser)
                    top_user['State'].append(i)
                    top_user['Year'].append(j)
                    top_user['Quarter'].append(int(k.strip('.json')))

# Create a DataFrame
top_user_df = pd.DataFrame(top_user)

# Specify the directory path where you want to save the CSV file
output_dir = "extracted_data"

# File path for saving the CSV file inside the "data" folder
output_file_path = os.path.join(output_dir, "top_user.csv")

# Save the DataFrame to the specified file path
top_user_df.to_csv(output_file_path, index=False)

# Display the DataFrame
top_user_df

                          State  Year  Quarter District  RegisteredUser
0     andaman-&-nicobar-islands  2018        1   744103            1608
1     andaman-&-nicobar-islands  2018        1   744101            1108
2     andaman-&-nicobar-islands  2018        1   744105            1075
3     andaman-&-nicobar-islands  2018        1   744102            1006
4     andaman-&-nicobar-islands  2018        1   744104             272
...                         ...   ...      ...      ...             ...
7849                west-bengal  2023        2   700015          117690
7850                west-bengal  2023        2   742304          114746
7851                west-bengal  2023        2   721101          114293
7852                west-bengal  2023        2   700150          110694
7853                west-bengal  2023        2   700091          110637

[7854 rows x 5 columns]